<!DOCTYPE html>
<html>
<head>
	<style>
body {
	background-color:	#C0C0C0;
}
.container{
	max-width: 800px;
	min-height: 300px;
	margin:0 auto;
	background-color:rgba(255,255,255,0.3);
	/*border-radius: 10px;*/
}
.container h2{
	margin:5px;
	color: black;
	text-align: center;
}
.container form{
	
	padding:30px;
	margin: 0 auto;
	border-radius:;
	background-color:rgba(255,255,255,0.3);
	}
</style>
	<title>DjangoForm</title>
</head>
<body>
	<div class="container">
<h2>Course Registration</h2>
<form method="POST">{% csrf_token %} 
	{{form.as_p}}
<input type="Submit" name="submit"></input>
	</div>
</form>
</body>
</html>

