<!DOCTYPE html>
<html>
<head>
	<title>List of teachers</title>
</head>
<body>
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Registration Number</th>
			<th>Profession</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Date-Joined</th>
			<th>ID</th>
			{% for teacher in teachers%}
			<tr>
				<td>{{teacher.first_name}}</td>
				<td>{{teacher.last_name}}</td>
				<td>{{teacher.registration_number}}</td>
				<td>{{teacher.profession}}</td>
				<td>{{teacher.phone_number}}</td>
				<td>{{teacher.email}}</td>
				<td>{{teacher.date_joined}}</td>
				<td>{{teacher.id_number}}</td>
			</tr>
		{%endfor%}
	</table>

</body>
</html>